<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.urbanenviroment">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UrbanEnviroment"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">

        <activity
            android:name=".page.profile.org.EditHelpPage"
            android:exported="false" />
        <activity
            android:name=".page.profile.org.EditHelp"
            android:exported="false" />
        <activity
            android:name=".page.profile.org.AddHelp"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".page.profile.org.EditAnimalPage"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".page.profile.org.EditAnimal"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".page.profile.org.AddAnimal"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".page.profile.org.DeletePhoto"
            android:exported="false" />
        <activity
            android:name=".page.profile.org.AddPhoto"
            android:exported="false" />
        <activity
            android:name=".page.profile.settings.SettingPageOrg"
            android:exported="false" />
        <activity
            android:name=".page.profile.user.FavoritesProfileUserOrg"
            android:exported="false" />
        <activity
            android:name=".page.org.Organization_statistics"
            android:exported="false" />
        <activity
            android:name=".page.org.OrganizationsPage"
            android:exported="false" />
        <activity
            android:name=".page.profile.org.ProfileActivityOrg"
            android:exported="false" />
        <activity
            android:name=".page.profile.settings.SettingOther"
            android:exported="false" />
        <activity
            android:name=".page.profile.settings.SettingProfileUser"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".page.profile.settings.SettingProfile"
            android:exported="false"/>
        <activity
            android:name=".page.profile.settings.SettingNotificationsUser"
            android:exported="false" />
        <activity
            android:name=".page.profile.user.NotificationsProfileUser"
            android:exported="false" />
        <activity
            android:name=".page.profile.user.FavoritesProfileUserAds"
            android:exported="false" />
        <activity
            android:name=".page.profile.user.FavoritesProfileUserAnimals"
            android:exported="false" />
        <activity
            android:name=".page.filter.FilterAnimal"
            android:exported="false" />
        <activity
            android:name=".page.filter.FilterHelp"
            android:exported="false" />
        <activity
            android:name=".page.help.HelpPage"
            android:exported="false" />
        <activity
            android:name=".page.animals.AnimalPage"
            android:exported="false" />
        <activity
            android:name=".page.animals.CardsMainActivity"
            android:exported="false" />
        <activity
            android:name=".page.profile.registr_authoriz.RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".page.profile.registr_authoriz.AuthorizationActivity"
            android:exported="false" />
        <activity
            android:name=".page.profile.user.ProfileActivityUser"
            android:exported="false" />
        <activity
            android:name=".page.org.OrganizationsActivity"
            android:exported="false" />
        <activity
            android:name=".page.map.MapActivity"
            android:exported="false" />
        <activity
            android:name=".page.help.HelpActivity"
            android:exported="false" />
        <activity
            android:name=".page.animals.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".page.splashscreen.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <meta-data
            android:name="com.parse.SERVER_URL"
            android:value="@string/back4app_server_url" />
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="@string/back4app_app_id" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="@string/back4app_client_key" />

    </application>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


</manifest>