<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.urbanenviroment">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UrbanEnviroment">
        <activity
            android:name=".profile.user.settings.SettingOther"
            android:exported="false" />
        <activity
            android:name=".profile.user.settings.SettingProfileUser"
            android:exported="false" />
        <activity
            android:name=".profile.user.settings.SettingNotificationsUser"
            android:exported="false" />
        <activity
            android:name=".profile.user.NotificationsProfileUser"
            android:exported="false" />
        <activity
            android:name=".profile.user.FavoritesProfileUser"
            android:exported="false" />
        <activity
            android:name=".profile.user.SettingsProfileUser"
            android:exported="false" />
        <activity
            android:name=".FilterAnimals"
            android:exported="false" />
        <activity
            android:name=".HelpPage"
            android:exported="false" />
        <activity
            android:name=".AmimalPage"
            android:exported="false" />
        <activity
            android:name=".CardsMainActivity"
            android:exported="false" />
        <activity
            android:name=".profile.registr_authoriz.RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".profile.registr_authoriz.AuthorizationActivity"
            android:exported="false" />
        <activity
            android:name=".profile.user.ProfileActivityUser"
            android:exported="false" />
        <activity
            android:name=".OrganizationsActivity"
            android:exported="false" />
        <activity
            android:name=".MapActivity"
            android:exported="false" />
        <activity
            android:name=".HelpActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".splashscreen.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>